

.megabuscom {
  display: flex;
  justify-content: center;
  font-family: Nexa;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: white;
  padding-top: 30px;
}

.my-trips {
  height: 34px;
  object-fit: contain;
  font-family: Nexa;
  font-size: 28px;
  padding-left: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color:  #011679;
  text-align: center
}

.each-trip {
  width: 500px;
  object-fit: contain;
  border: solid 2px #011679;
  margin: auto;
  margin-bottom: 10px;
  padding-bottom: 10px
}

.TOP-Header {
  position: relative;
  margin: 0;
  margin-top: -20px;
  padding-top: 0px;
  height: 91px;
  background-color: #011679;
}

.helper-container{
  margin-top: -80px;
  display: flex;
  float: right;
  margin-right: 20px;

}


.helper {
  width: 147px;
  height: 50px;
}

select {
  display: flex;
  justify-content: center;

}

form {
  width: 321px;
  height: 454px;
  object-fit: contain;
  border: solid 2px #011679;
  margin: auto;
  margin-top: 100px;
}


.Book-Now {
  width: 141px;
  height: 34px;
  object-fit: contain;
  font-family: Nexa;
  font-size: 28px;
  padding-left: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color:  #011679;
}

.Button_Off {
  display: block;
  margin: auto;
  width: 272px;
  height: 45px;
  object-fit: contain;
  background-color: #f9be2c;
  box-shadow: 3px 2px 4px 0 black;
  margin-top: 50px;
  color: #011679;
  font-size: 12px;
  font-weight: bold;
}

.Button-comment {
  display: block;
  margin: auto;
  width: 272px;
  height: 45px;
  object-fit: contain;
  background-color: #f9be2c;
  box-shadow: 3px 2px 4px 0 black;
  margin-top: 20px;
  color: #011679;
  font-size: 12px;
  font-weight: bold;

}
.my-trip-button {
  display: inline;
  margin: auto;
  width: 200px;
  height: 45px;
  object-fit: contain;
  background-color: #f9be2c;
  box-shadow: 3px 2px 4px 0 black;
  margin-top: 20px;
  color: #011679;
  font-size: 12px;
  font-weight: bold;
  margin: 0 30px
}
.cancel-trip-button {
  display: inline;
  margin: auto;
  width: 200px;
  height: 45px;
  object-fit: contain;
  background-color: #f9be2c;
  box-shadow: 3px 2px 4px 0 black;
  margin-top: 20px;
  color: #011679;
  font-size: 12px;
  font-weight: bold;

}
.Button {
  display: block;
  margin: auto;
  width: 272px;
  height: 30px;
  object-fit: contain;
  background-color: #f9be2c;
  box-shadow: 3px 2px 4px 0 black;
  margin-top: 25px;
  color: #011679;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  text-decoration: none;
}

select {
    margin: auto;
    width: 272px;
    height: 41px;
    object-fit: contain;
    box-shadow: 1px 2px 4px 0 rgba(29, 28, 28, 0.5);
    border: solid 1px #979797;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .FROM {
    padding-left: 25px;
    width: 113px;
    height: 14px;
    object-fit: contain;
    font-family: Nexa;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
  }

  select {
    -webkit-appearance: none;
    border-radius: 0px;
  }

  .Rectangle {
    width: 321px;
    height: 300px;
    object-fit: contain;
    border: solid 2px #011679;
    margin: auto;
    margin-top: 100px;
  }

  .Yellow-arrow {
  width: 27px;
  height: 18px;
  object-fit: contain;
  padding: 0 10px
}

.city {
    width: 105px;
    height: 43px;
    object-fit: contain;
    font-family: Nexa;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: black;
    padding: 10px
  
}

.time {
    width: 115px;
    height: 36px;
    object-fit: contain;
    font-family: Nexa;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: black;  
    padding: 10px;    

}

.trip-time {
  width: 115px;
    height: 36px;
    object-fit: contain;
    font-family: Nexa;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: black;  
    padding: 10px; 
}

.time-container {
  padding-top: 20px;
  border-bottom: solid 1px #979797;
}

.book {
    width: 57px;
    height: 19px;
    object-fit: contain;
    font-family: Nexa;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #7a78ff;
    float: right;
    border: none;
    background-color: white;
    text-decoration: none;
}

.book-change {
  width: 57px;
    height: 19px;
    object-fit: contain;
    font-family: Nexa;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #7a78ff;
    float: right;
    border: none;
    padding-top: 15px;
    text-decoration: none;
}

.book-date {
  margin: auto;
  margin-top: 10px;
  width: 85px;
  height: 64px;
  object-fit: contain;
  font-family: Nexa;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: white;
  background-color: #011679;
}

.date {
padding-top: 25px
}

.blue-line-one{
width: 100%;
height: 2px;
background-color:#011679;
border: 0 none;
margin-bottom:-10px;
}

.blue-line-two {
width: 100%;
height: 2px;
background-color:#011679;
border: 0 none;
margin-top: 0px
}

.booking-container {
    width: 401px;
    object-fit: contain;
    margin: auto;
    margin-top: 30px;
  
}

.comment {
  width: 259px;
  height: 41px;
  object-fit: contain;
  border: solid 1px #979797;
  display: block;
  margin: auto;
  margin-top: 20px
}

.comment-hello {
  display: block;
  margin: auto;
  width: 259px;
  height: 155px;
  object-fit: contain;
  border: solid 1px #979797;
  margin-top: 20px


}

.Greener-Travel {
  width: 226px;
  height: 38px;
  object-fit: contain;
  font-family: Nexa;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #011679;
  margin: auto;

}

.Green-container {
  width: 321px;
  height: 454px;
  object-fit: contain;
  margin: auto;
  margin-top: 100px;

}

.Green-image {
  width: 375px;
  height: 186.9px;
}

.hamberger {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #f9be2c;
  margin: 6px 0;
  z-index: 100;
}

.hamberger-container {
 position: absolute;
 padding-top: 20px;
 padding-left: 20px;
}

.detail-arrow {
  display: flex;
  width: 27px;
  height: 18px;
  object-fit: contain;
  padding: 50px 10px

}

.departure {
  display: block;
}

.arrival {
  display: block;
}

.map-detail-container {
  display: flex;
  width: 200px;
  object-fit: contain;
  margin: auto;
  margin-bottom: 10px;
  padding-bottom: 10px
}

.en-route {
  text-align: center;
  font-family: Nexa;
  font-size: 12px;
}

.detail-departure {
  display: block;
  font-family: Nexa;
  font-size: 36px;
  font-weight: bold;
  text-align: center;

}

.departure-time {
  display: block;

  font-family: Nexa;
  font-size: 12px;
  font-weight: bold;
  text-align: center;

  
}

.departure-time-num {
  display: block;
  font-family: Nexa;
  font-size: 24px;
  font-weight: 300;
  text-align: center;

}

.trip-label {
  text-align: center;
  font-family: Nexa;
  font-size: 12px;
  font-weight: bold;
}

.Button_final {
  margin: auto;
  object-fit: contain;
  width: 150px;
  height: 20px;
  background-color: #f9be2c;
  box-shadow: 3px 2px 4px 0 black;
  color: #011679;
  font-size: 12px;
  padding: 18px 30px;
  font-weight: bold;
  margin-left: 20px;
  text-decoration: none;
}

.button-container {
  display:flex;
  width: 321px;
  object-fit: contain;
  margin: auto;
  margin-top: 100px;
}

.triangle {
  width: 22px;
  height: 12px;
  padding-left: 190px;
}

.mapImage {
  display: flex;
  /* width: 40vw; */
  margin: auto;
  
}